BasedOnStyle: Chromium
IndentWidth: 2
SpacesBeforeTrailingComments: 1
AllowShortIfStatementsOnASingleLine: WithoutElse

AlignAfterOpenBracket: Align
BinPackParameters: true
AllowAllParametersOfDeclarationOnNextLine: true

IndentPPDirectives: BeforeHash
IndentGotoLabels: true
