[Unit]
Description=TUI display manager
After=systemd-user-sessions.service plymouth-quit-wait.service
After=getty@tty3.service
Conflicts=getty@tty3.service

[Service]
Type=idle
ExecStart=$HOME/git/lidm/assets/li.service
StandardError=journal
StandardInput=tty
TTYPath=/dev/tty3
TTYReset=yes
TTYVHangup=yes

[Install]
Alias=display-manager.service
