pkgbase = lidm
	pkgdesc = A fully colorful customizable TUI display manager made in C. (build latest tag)
	pkgver = 1.2.1
	pkgrel = 1
	url = https://github.com/javalsai/lidm
	arch = any
	license = GPL
	makedepends = git
	makedepends = gcc
	depends = pam
	source = tarball.tar.gz::https://github.com/javalsai/lidm/archive/refs/tags/v1.2.1.tar.gz
	sha256sums = 4be2c745edf9a87c7b36ccf8958955f05c6b0fd33726479926faf4aab291942e

pkgname = lidm
