pkgbase = lidm
	pkgdesc = A fully colorful cutomizable TUI display manager made in C. (build latest tag)
	pkgver = 0.0.1
	pkgrel = 5
	url = https://github.com/javalsai/lidm
	arch = any
	license = GPL
	makedepends = git
	makedepends = make
	makedepends = gcc
	depends = pam
	source = tarball.tar.gz::https://github.com/javalsai/lidm/archive/refs/tags/0.0.1.tar.gz
	sha256sums = eb67cbb9313734c547042799a2fcb3ed6edcfd67ebcd03c1fc78050d00e60d2c

pkgname = lidm
