pkgbase = lidm
	pkgdesc = A fully colorful customizable TUI display manager made in C. (build latest tag)
	pkgver = 1.2.2
	pkgrel = 1
	url = https://github.com/javalsai/lidm
	arch = any
	license = GPL
	makedepends = git
	makedepends = gcc
	depends = pam
	source = tarball.tar.gz::https://github.com/javalsai/lidm/archive/refs/tags/v1.2.2.tar.gz
	sha256sums = 4f53bd4f3e14604019f5bb38bca5bc95aab01b10dbea4e9c53559bee28b6e164

pkgname = lidm
